{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}

	<div class='container col-md-6 col-12 justify-content-center'>


		<br><p class='text-center'>Le site Internet ambe-design.com est la propriété exclusive de Benjamin HOUBRON.</p>

		<p class='text-center'>Identifiant siret : 00000000000000</p>
		<p class='text-center'>Propriétaire : Slayde</p>
		<p class='text-center'>E-mail : Michel.bernard@gmail.com</p>
		<p class='text-center'>Téléphone : is not good</p>

		<p class='text-center'>Conception du site internet : Benj H– www.ce-site-n-existe-pas.com</p>

		<p class='text-center'>Le site est hébergé par la société personne, 222 Boulevard Gustave Flobert, 68956 Clermont-Ferrend,
			Capital de 100000000000 euros, Siret : 010 989 80456524.</p>

		<p class='text-end'>©la-table-des-poetes.com</p>

	</div>

{% endblock %}
