{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}

	<div class='container col-md-6 col-12 justify-content-center'>

		<br><h2 class='text-center'>Politique de confidentialité</h2>
		<p class='text-center'>Chez the Distric, notre mission est d’aider les restaurateurs à augmenter leur chiffre d’affaires, 
			en proposant leurs plats à la vente à emporter, ou en livraison, par l’intermédiaire d’un service de click and collect personnalisé et intuitif.
			Si nous nous engageons à créer ainsi une grande communauté alimentaire, nous nous devons de protéger la vie privée 
			des membres de cette communauté the Distric. Cette protection inclut la protection des données personnelles de tous les visiteurs et 
			utilisateurs du site internet, ainsi que des autres extensions (application mobile, espace restaurateur, espace client).</p>

		<p class='text-center'>La présente Politique de Confidentialité explique comment the Distric collecte et utilise vos données 
			personnelles. En utilisant les services the Distric, vous consentez à ce qu’the Distric utilise vos données personnelles de la 
			manière décrite dans la présente Politique de Confidentialité.</p>

		<p class='text-center'>Soyez assuré the Distric s’est engagé à collecter et utiliser vos données personnelles de manière responsable, 
			sécurisée et en toute transparence. Si vous avez le moindre doute, ou une question, contactez-nous à alex@the Distric.fr.</p>

		<br><p class='text-center h4'>1. Informations que nous collectons sur vous, et les raisons de cette collecte</p>

		<p class='text-center'>Si vous souhaitez obtenir de plus amples informations sur une section particulière, vous pouvez nous contacter.
			
			Lorsque vous rejoignez the Distric, nous collectons les informations d’enregistrement, afin que nous puissions :
			
			    Créer votre compte, et que votre Restaurant apparaisse sur notre plateforme en ligne.
			    Vous identifier lorsque vous vous connectez à votre espace personnalisé Restaurateur.
			    Vous payer des montants dûs relatifs à l’ensemble de vos commandes.
			    Vous tenir informé des modifications et/ou mises à jour de nos services.
			    Vérifier que vous avez les licences et certifications appropriées pour gérer votre Restaurant.
			    Vous faire bénéficier au mieux du système de géolocalisation.
			
			Vous fournir des informations lorsque des transactions sont réalisés en ligne sur votre Restaurant :
			
			    Traitement des commandes et facturation
			    Demandes client
			    Actualisation des statuts des commandes
			    Résoudre des problèmes pouvant survenir
			    Etudier, analyser, développer et améliorer nos services
			    Prévenir de toute fraude et autres actes qui pourraient enfreindre la loi, et vous protéger.
			
			Commentaires, axes d’amélioration, et autres informations essentielles
			
			    Répondre à vos questions, vos demandes, vos besoins
			    Etudier, analyser, développer et améliorer nos services
			    Informations sur votre activité sur le site the Distric.
			
			Vous êtes informés que nous utilisons des cookies et technologies similaires afin de mesurer et analyser l’efficacité de nos services,
			personnaliser et optimiser notre communication, vous fournir des services géolocalisés.
			
			Nous traitons des informations que vous nous fournissez volontairement, ainsi que des informations que nous collectons de manière automatique,
			ou que nous pouvons obtenir de sources tierces. La collecte et le traitement de ces informations servent à améliorer quotidiennement nos services,
			faciliter son utilisation et sa performance.</p>

		<br><p class='text-center h4'>2. Partage des données</p>
		<p class='text-center'>Nous nous assurons toujours d’avoir mis en place la sécurité maximale, et le cas échéant les garanties contractuelles
			appropriées pour protéger vos données personnelles avant de les partager. Nous pouvons partager vos données personnelles avec les destinataires suivants :
			
			Les clients : ils passent commande, dans le cadre de nos services, auprès de votre Restaurant.
			Les tiers communicants : tous les tiers qui supportent nos services, comme nos partenaires marketing, nos partenaires de livraison,
			et toutes sociétés avec lesquelles nous sommes en partenariat pour améliorer nos services.
			Les organismes d’application de la loi : agence gouvernementale, organismes réglementaires, 
			tribunaux ou autre tiers compétents, nous obligeant à divulguer des informations en vertu de la 
			législation et des réglementations applicables.</p>

		<br><p class='text-center h4'>3. Traitement des données</p>
		<p class='text-center'>Nous collections et utilisons vos données personnelles pour la raison principale suivante : 
			s’assurer que les clients commandent en ligne et achètent des produits dans votre Restaurant via notre plateforme de click and collect.
			Nous pouvons aussi traiter vos données personnelles de manière à servir nos intérêts commerciaux légitimes.</p>

		<br><p class='text-center h4'>4. Sécurité des données</p>
		<p class='text-center'>Chez the Distric, nous accordons une grande importance à la sécurité et la protection 
			de vos données personnelles, notamment contre tout accès non autorisé, tout traitement illégal, destruction,
			perte. Notre équipe technique met en oeuvre des mesures afin de garantir la sécurité de vos informations.</p>

		<br><p class='text-center h4'>5. Conservation des données</p>
		<p class='text-center'>Chez the Distric, nous conservons l’ensemble de vos données le temps nécessaire pour 
			satisfaire aux finalités décrites dans cette Politique de Confidentialité. Par exemple, toute la période durant 
			laquelle votre Restaurant est référencé et présent sur notre plateforme. Dans le cadre de la tenue de nos dossiers, 
			et le respect de nos obligations légales, nous pouvons être à-même de conserver certains éléments de vos données personnelles 
			pour une période ultérieure à votre désactivation et suppression de compte.</p>

		<br><p class='text-center h4'>6. Droits relatifs à la protection de vos données</p>
		<p class='text-center'>Vous êtes en droit de nous contacter afin de nous demander de supprimer vos données 
			    personnelles ou de limiter leur traitement. Pour se faire, vous pouvez nous contacter sur : michel.bernard@hotmail.com .</p>

		<br><p class='text-center h4'>7. Liens vers d’autres sites</p>
		<p class='text-center'>Chez the Distric, nous sommes et serons amenés à réaliser des partenariats stratégiques, 
			des liens d’affiliation avec des annonceurs et autres partenaires de différents secteurs. 
			Nos sites web et espaces personnels peuvent donc contenir des liens vers des sites tiers. 
			Si vous suivez ces liens, sachez qu’the Distric n’est pas responsable de ces sites, 
			qui ont leurs propres Politiques de confidentialité, et mènent leurs propres politiques commerciales.</p>

		<br><p class='text-center h4'>8. Mise à jour de cette Politique de Confidentialité</p>
		<p class='text-center'>Nous pouvons, à tout moment et sans que vous en soyez préalablement informé, mettre à jour cette Politique de Confidentialité,
			 pour plusieurs raisons : modifications légales, techniques, commerciales par exemple. Nous vous encourageons donc à consulter régulièrement cette page 
			 afin de vous tenir informé de sa mise à jour, des dernières informations sur notre Politique de Confidentialité.</p>

		<br><p class='text-center h4'>9. Coordonnées pour nous contacter</p>
		<p class='text-center'>Pour toute question, demande d’informations supplémentaires, ou préoccupation concernant notre Politique de Confidentialité ou 
			nos services, vous pouvez nous contacter sur : michel.bernard@hotmail.com .</p>
		<p class='text-end'>©e-resto.fr</p>

	</div>

{% endblock %}
