<h1>Chère/Cher
	{{ contact.Nom }}</h1>

<p>Nous vous remercions d'avoir pris le temps de nous contacter via notre site web.</P>

<P>Nous avons bien reçu votre demande concernant : "{{ Demande }}", et tenons à vous assurer que votre demande est en cours de traitement. 
	        Nous y répondrons dans les plus brefs délais, et vous recevrez une réponse de notre part sous 24 à 48 heures.</P>


<P>Si vous avez des questions supplémentaires entre-temps, n'hésitez pas à nous écrire ou à nous appeler au 0102030405.</P>

<P>Nous vous remercions pour votre patience et vous souhaitons une excellente journée.</P>

<P>Cordialement,</P>

<P>The District</P></p>
